<h1>Photos</h1>
  
<% @photos.each do |photo| %>
<div>
   <% if photo.image.attached? %>
  <div>
    <%= image_tag photo.image, alt: "Photo Image" %>
  </div>
  <% end %>
  <div>
    <%= image_tag photo.image %>
  </div>
  <span>
    <%= photo.title%>
  </span>
   <span>
    <%= photo.comments_count%>
  </span>
   <span>
    <%= photo.description%>
  </span>

  <%= link_to "show", photo_path(photo) %>
  <%= link_to "edit", edit_photo_path(photo) %>
  <%= link_to "destroy ", photo_path(photo), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
</div>
<% end %> 