<h1> <%= @photo.title %> </h1>
<p> <%= @photo.description %> </p>

<div>
    <% if @photo.image.attached? %>
      <div>
        <%= image_tag @photo.image, alt: "Photo Image" %>
      </div>
    <% end %>
  </div>
   <p>
    <%= @photo.comments %> 
  </p>
  <div>
    <%= link_to "edit", edit_photo_path(@photo) %>
    <%= link_to "destroy ", photo_path(@photo), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
</div>