<h1> <%= @category.name %> </h1>
<p> <%= @category.description %> </p>

<h2> Photos </h2>
<%= link_to "New Photo", new_photo_path %>
<br />
<br />

<% @photos.each do |photo| %>
  <div>
    <% if photo.image.attached? %>
      <div>
        <%= image_tag photo.image, alt: "Photo Image" %>
      </div>
    <% end %>
  </div>
  <p>
    <%= photo.title %> 
  </p>
   <p>
    <%= photo.comments_count %> 
  </p>
  <div>
    <%= link_to "show", photo_path(photo) %>
    <%= link_to "edit", edit_photo_path(photo) %>
    <%= link_to "destroy ", photo_path(photo), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </div>

<% end %>